<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <h2>User info</h2>
      <%= form_with model: @user do|f| %>
        <div class="form-group">
          <label for="inputName">Name</label>
          <%= f.text_field :name, autofocus:true, id:"inputName", placeholder:"名前", class:"form-control" %><br />
        </div>
        <div class="form-group">
          <label for="inputImage">Image</label>
          <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*", class:"form-control-file user_image"  %><br />
        </div>
        <div class="form-group">
          <label for="inputIntroduction">Introduction</label>
          <%= f.text_area :introduction, rows:"3", id:"inputIntroduction", placeholder:"自己紹介", class:"form-control" %><br />
        </div>
        <%= f.submit "Update User", class:"btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>